h1{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

th{
    height: 2em;
    text-align: left;
    background-color: #d3d3d3;
    color: #1db954;
}

table{
    border-collapse: collapse;
}

img{
    width: 100px;
    height: 100px;
}

th, tr{
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

.even{
    background-color: #eee;
}

tr:hover {
    background-color: pink;
}